<%- include("header") -%>

<h2>About Page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae blanditiis consequatur, soluta quas, harum
    minus, repellat laboriosam sint quis perferendis delectus molestias? Eveniet beatae officiis cum maiores dolore
    ipsum facere?</p>

<%- include("footer") -%>